@tailwind base;
@tailwind components;
@tailwind utilities;


.PrimaryColor{
    color: hsl(0, 75%, 34%)
}
.perspective {
    perspective: 1000px;
  }
  
  .rotate-y-6 {
    transform: rotateY(15deg);
  }
  
  .-rotate-y-6 {
    transform: rotateY(-15deg);
  }
  
  
html{
  scroll-behavior: smooth;
}